<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
    
        {% block head %}{% endblock %} 
    </head>

    <body>
        <script type="text/javascript">
            "use strict";
            const copyButton = document.querySelector(".copy-button");
            const input = document.querySelector(".input");
            const popup = document.querySelector(".popup");
            const copyToClipboard = (textArea) => {
            if (textArea.value) {
                textArea.select();
                document.execCommand("copy");
                textArea.blur();
            } else {
                alert("Please enter the value !");
            }
            };
            copyButton.addEventListener("click", () => copyToClipboard(input));
        </script>
        {% block body %}{% endblock %} 
    </body>
</html>