<!-- Store this code in 'index.html' file inside the 'templates' folder-->

<html>
	<head>
		<meta charset="UTF-8">
		<title> SOLO URL </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">					
        <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    </head>
	<body></br></br></br></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h4 class="word">SOLO SHORT URL DASHBOARD</h4>
                <!-- <h3>{{msg}}</h3> -->
			</div></br></br></br>
                <h4>Total URL Generated : {{count}}</h4>      
                <a href="{{ url_for('shortUrl') }}" class="btn">Gen short url</a>
				<a href="{{ url_for('logout') }}" class="btn">Logout</a>
		</div>
		</div>
	</body>
</html>
